:root {
    --black-color: black;
    --translucent-black-color: #000000bf;
    --white-color: white;
    --lime-color: #2cc84d;
    --translucent-lime-color: #2cc84e9d;
    --green-color: #326a00;
    --orange-color: #ff6d25;
    --light-pink-color: #fce4ec;
    --beige-color: #fff0cb;
    --brown-color: #974e24;

    --inter-font: "Inter", sans-serif;
    --manrope-font: "Manrope", sans-serif;

    --desktop-header-height: 12rem;
    --tablet-header-height: 8rem;
    --mobile-header-height: 7rem;
    --header-z-index: 1000;
    --duration: 0.3s;
}

// breakpoints
$point1: 1024px;
$point2: 1023px;
$point3: 768px;
$point4: 767px;
$point5: 480px;
$point6: 479px;

// modifiers
$active: ".active";
$open: ".open";
$hidden: ".hidden";
