@use "../abstracts" as *;

.home-link {
    display: block;
    aspect-ratio: 256 / 52;
    width: 100%;
    max-width: 25.6rem;

    @media (width < $desktop) {
        max-width: 19rem;
    }

    @media (width < $tablet) {
        max-width: 14.2rem;
    }

    &:active {
        background-color: var(--translucent-lime-color);
    }
}

.logo {
    @extend %contain-media;
}
