// colors
$color_black: #000;
$color_beige: #fff0cb;
$color_light-pink: #fce4ec;
$color_orange: #ff6d25;
$color_lime: #2cc84d;
$color_brown: #974e24;
$color_light-blue: #ebf2ff;
$color_text: #000000bf;

// fonts
$font_nunito: 'Nunito', sans-serif;
$font_inter: 'Inter', sans-serif;
$font_manrope: 'Manrope', sans-serif;
$font_mukta: 'Mukta', sans-serif;

// breakpoints
$point1: 1024px;
$point2: 1023px;
$point3: 768px;
$point4: 767px;
$point5: 480px;
$point6: 479px;

// modifiers
$active: '.active';
$open: '.open';
