%contain-media {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

%cover-media {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
