@use '../variables' as *;
@use '../mixins/breakpoints' as *;

%btn_submit {
	cursor: pointer;
	border-radius: 0.9rem;
	background: linear-gradient(110deg, $color_orange 70%, #ff7b3a96 80%, $color_orange 95%);
	color: white;
	font-weight: 700;
	font-family: $font_inter;
	text-align: center;
	text-transform: uppercase;

	@include bp($point1, min) {
		padding: 2.25rem 5.12rem;
		font-size: 1.8rem;
	}
	@include bp($point2) {
		padding: 1.5rem 2.5rem;
		font-size: 1.6rem;
	}

	&:hover {
		background: linear-gradient(110deg, $color_lime 70%, #dfdfdf 80%, $color_lime 95%);
		background-color: $color_lime;
	}
}

%btn_cookie {
	border: 0.2rem solid $color_lime;
	font-weight: 900;
	font-family: $font_nunito;
	text-decoration: none;
	text-transform: uppercase;

	@include bp($point1, min) {
		padding: 1.35rem 3.5rem;
		font-size: 1.7rem;
	}
	@media (min-width: $point3) and (max-width: $point2) {
		padding: 0.75rem 1.5rem;
		font-size: 1.5rem;
	}
	@include bp($point3, min) {
		display: flex;
		column-gap: 0.8rem;
		align-items: center;
		border-radius: 1.5rem;
	}
	@include bp($point4) {
		border-radius: 1rem;
		padding: 0.75rem 0.5rem;
		font-size: 1.2rem;
	}

	&.green--dark {
		color: #495340;
	}

	&.green--light {
		color: #326a00;
	}

	&:hover {
		background-color: $color_lime;
		color: white;
	}
}

%btn_green {
	box-shadow:
		0 0.3rem 0.75rem 0 #9cffb180,
		0 0 0 0.15rem $color_lime,
		0 0.15rem 0.15rem 0 #00000024,
		0 0.15rem 0 0 #9cffb1 inset;
	border-radius: 0.6rem;
	background-color: $color_lime;
	color: white;
	font-weight: 500;
	text-decoration: none;

	@include bp($point1, min) {
		padding: 1.15rem 2.16rem;
		font-size: 2.2rem;
	}
	@media (min-width: $point3) and (max-width: $point2) {
		padding: 1rem 1.8rem;
		font-size: 1.5rem;
	}
	@include bp($point3, min) {
		display: flex;
		column-gap: 1.2rem;
		align-items: center;
	}
	@include bp($point4) {
		padding: 0.85rem;
	}

	&:hover {
		background-color: transparent;
		color: currentColor;
	}
}
