@use '../variables' as *;
@use '../mixins/breakpoints' as *;

%btn_submit {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin-bottom: 2rem;
	border-radius: 0.9rem;
	background: linear-gradient(110deg, $color_orange 70%, #ff7b3a96 80%, $color_orange 95%);
	max-width: 32.8rem;
	color: white;
	font-weight: 700;
	line-height: 100%;
	font-family: $font_inter;
	text-align: center;
	text-transform: uppercase;

	@include bp($point3, min) {
		width: 100%;
		height: 6.6rem;
		font-size: 1.8rem;
	}
	@include bp($point4) {
		width: 75%;
		height: 5rem;
		font-size: 1.6rem;
	}

	&:hover {
		background: linear-gradient(110deg, $color_lime 70%, #dfdfdf 80%, $color_lime 95%);
		background-color: $color_lime;
	}
}

%btn_cookie {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: 0.2rem solid $color_lime;
	width: 100%;
	font-weight: 900;
	line-height: 100%;
	font-family: $font_nunito;
	text-decoration: none;
	text-transform: uppercase;

	@include bp($point3, min) {
		border-radius: 1.5rem;
		max-width: 16.2rem;
		height: 5.4rem;
		font-size: 1.7rem;
	}
	@include bp($point4) {
		border-radius: 1rem;
		padding: 0 0.5rem;
		max-width: 8rem;
		height: 3.5rem;
		font-size: 1rem;
	}

	&.green--dark {
		color: #495340;
	}

	&.green--light {
		color: #326a00;
	}

	&:hover {
		background-color: $color_lime;
		color: white;
	}
}

%btn_green {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	box-shadow:
		0 0.3rem 0.75rem 0 #9cffb180,
		0 0 0 0.15rem $color_lime,
		0 0.15rem 0.15rem 0 #00000024,
		0 0.15rem 0 0 #9cffb1 inset;
	border-radius: 0.6rem;
	background-color: $color_lime;
	width: 100%;
	overflow: hidden;
	color: white;
	font-weight: 500;
	font-size: 2.2rem;
	line-height: 100%;
	font-family: $font_inter;
	text-decoration: none;

	@include bp($point3, min) {
		max-width: 25.4rem;
		height: 5rem;
	}
	@include bp($point4) {
		max-width: 3.5rem;
		height: 3.5rem;
	}

	&:hover {
		background-color: transparent;
		color: currentColor;
	}
}
