@use './helpers/abstracts' as *;

.faqs_accrs {
	color: #00000099;
	font-weight: 500;

	@include bp($point1, min) {
		font-size: 2.7rem;
	}
	@media (min-width: $point3) and (max-width: $point2) {
		font-size: 1.8rem;
	}
	@include bp($point4) {
		font-size: 1.4rem;
	}
}

.accr__item {
	border: 0.4rem solid #e2e4eb;
	border-bottom: 0.82rem solid #e2e4eb;
	background-color: #f7f7fa;

	@include bp($point1, min) {
		border-radius: 3rem;
	}
	@media (min-width: $point3) and (max-width: $point2) {
		border-radius: 2rem;
	}
	@include bp($point4) {
		border-radius: 1.6rem;
	}

	&:not(:last-child) {
		@include bp($point1, min) {
			margin-bottom: 5rem;
		}
		@media (min-width: $point3) and (max-width: $point2) {
			margin-bottom: 3rem;
		}
		@include bp($point4) {
			margin-bottom: 2rem;
		}
	}

	&:has(.accr__text#{$open}) .accr__btn {
		transform: rotate(180deg);
	}
}

.accr__sup {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
	cursor: pointer;
	border-radius: inherit;
	background-color: inherit;

	@include bp($point1, min) {
		padding: 4rem 5rem;
	}
	@media (min-width: $point3) and (max-width: $point2) {
		padding: 2rem 3rem;
	}
	@include bp($point4) {
		padding: 1.5rem 2rem;
	}
}

.accr__title {
	color: black;
	font-weight: 700;

	@include bp($point1, min) {
		font-size: 3.3rem;
	}
	@media (min-width: $point3) and (max-width: $point2) {
		font-size: 2.2rem;
	}
	@include bp($point4) {
		max-width: 90%;
		font-size: 1.6rem;
	}
}

.accr__btn {
	transform: rotate(0deg);
	mask-image: url(../imgs/icons/accr-btn.svg);
	mask-position: center;
	mask-size: contain;
	mask-repeat: no-repeat;
	transition: transform 0.5s;
	background-color: #00000099;

	@include bp($point1, min) {
		width: 3.4rem;
		height: 1.66rem;
	}
	@media (min-width: $point3) and (max-width: $point2) {
		width: 2.4rem;
		height: 1.17rem;
	}
	@include bp($point4) {
		width: 1.8rem;
		height: 0.88rem;
	}
}

.accr__text {
	visibility: hidden;
	transition:
		visibility 0.5s,
		max-height 0.5s,
		padding-top 0.5s,
		padding-bottom 0.5s;
	max-height: 0;
	overflow: hidden;

	@include bp($point1, min) {
		position: relative;
		top: -4rem;
		padding: 0 5rem;
	}
	@media (min-width: $point3) and (max-width: $point2) {
		padding: 0 3rem;
	}
	@include bp($point4) {
		padding: 0 2rem;
	}

	&#{$open} {
		visibility: visible;
		max-height: 20rem;

		@include bp($point1, min) {
			padding-top: 3.6rem;
		}
		@include bp($point2) {
			padding-bottom: 2rem;
		}
	}
}

.accr__list-title {
	margin-bottom: 0.5rem;
	color: $color_text;
}

.accr__list {
	padding-left: 3.8rem;

	li {
		list-style: decimal;
	}
}
