@use './helpers/abstracts' as *;

.hero_block {
	display: flex;
	align-items: center;

	@include bp($point1, min) {
		column-gap: 15rem;
	}
	@media (min-width: $point3) and (max-width: $point2) {
		column-gap: 3rem;
	}
	@include bp($point4) {
		flex-direction: column;
	}
}

.hero_content {
	width: 100%;
	max-width: 67.9rem;
}

.hero_sup {
	position: relative;
	padding-top: 8rem;
	width: 100%;

	@include bp($point3, min) {
		margin-bottom: 11.2rem;
	}
	@include bp($point4) {
		margin-bottom: 2rem;
	}
}

.hero__title {
	width: 100%;
	max-width: 67.9rem;
	font-weight: 700;

	@include bp($point3, min) {
		font-size: 6.4rem;
		line-height: 7rem;
	}
	@include bp($point2) {
		font-size: 4rem;
		line-height: 1.5;
	}
}

.paper__plane {
	position: absolute;
	left: -18.8rem;
	z-index: -1;
	width: 100%;
	max-width: 33rem;
	height: 22rem;

	@include bp($point3, min) {
		top: 1rem;
	}
	@media (min-width: $point5) and (max-width: $point4) {
		top: -45rem;
	}
	@include bp($point6) {
		top: -32.5rem;
	}

	.plane__pic {
		@extend %contain_img;
	}
}

.hero__form {
	width: 100%;
	max-width: 60rem;
}

.hero__form__title {
	margin-bottom: 3.2rem;
	font-weight: 700;
	font-size: 1.6rem;
	text-transform: uppercase;
}

.hero__form_w {
	display: flex;
	flex-wrap: wrap;
	gap: 2.45rem;
	margin-bottom: 3rem;
	width: 100%;
}

.hero__label {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	transition: all 0.2s;
	cursor: pointer;
	border: 0.2rem solid #00000026;
	border-bottom: 0.5rem solid #00000026;
	border-radius: 0.8rem;
	font-weight: 700;
	user-select: none;

	@include bp($point1, min) {
		width: 13.1rem;
		height: 6rem;
		font-size: 2rem;
	}
	@include bp($point2) {
		width: 10rem;
		height: 4rem;
		font-size: 1.8rem;
	}

	&:has(.hero__radio:checked) {
		background-color: $color_lime;
		color: white;
	}

	.hero__radio {
		position: absolute;
		opacity: 0;
	}
}

.btn__prime {
	@extend %btn_submit;
}

.hero__form__discount,
.hero__form__descr {
	width: fit-content;
	font-weight: 500;
	text-transform: capitalize;

	@include bp($point3, min) {
		font-size: 1.8rem;
	}
	@include bp($point4) {
		font-size: 1.3rem;
	}
}

.hero__form__discount {
	margin-bottom: 0.7rem;
	color: $color_text;

	strong {
		vertical-align: middle;
		color: black;
		font-weight: 700;
		text-decoration: line-through;

		@include bp($point3, min) {
			font-size: 3rem;
		}
		@include bp($point4) {
			font-size: 2rem;
		}
	}

	span {
		vertical-align: middle;

		&:nth-of-type(2) {
			color: $color_lime;
			font-weight: 700;
		}
	}
}

.hero__form__descr {
	color: #00000080;

	.hero__link {
		color: $color_orange;
		font-weight: 700;
		text-decoration: none;
		text-transform: uppercase;

		&:hover {
			color: $color_lime;
		}
	}
}

.hero__image {
	width: 100%;
	max-width: 73.8rem;

	@include bp($point3, min) {
		height: 68.4rem;
	}
	@include bp($point4) {
		order: -1;
	}

	.hero__pic {
		@extend %contain_img;
	}
}
