@use './helpers/abstracts' as *;

.slider_block {
	position: relative;
}

.slider_block_w {
	position: relative;

	@include bp($point3, min) {
		padding: 0 2rem;
	}
	@include bp($point4) {
		padding: 0;
	}
}

.lrn_slider {
	width: 100%;
	max-width: 118rem;

	@include bp($point3, min) {
		padding: 0 2rem;
	}
	@include bp($point4) {
		padding: 0;
	}
}

.slider__item {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: auto;
	border-radius: 4rem;
	padding: 2.8rem 3.2rem 4.6rem 1.4rem;
	background-color: #ddffbb;
	font-family: $font_mukta;
	font-weight: 700;
	user-select: none;
	cursor: pointer;

	&.slider--pink {
		background-color: $color_light-pink;
	}
	&.slider--beige {
		background-color: $color_beige;
	}
	&.slider--blue {
		background-color: $color_light-blue;
	}
}

.slider__sup {
	display: flex;
	align-items: center;
	margin-bottom: 3rem;
	line-height: 2.5rem;
}

.slider__img {
	width: 100%;
	height: 9.4rem;
	max-width: 8.8rem;

	.slider__pic {
		@extend %contain_img;
	}
}

.slider__title {
	font-size: 2rem;

	&.title--center {
		margin: 0 auto;
	}
}

.slider__list {
	display: flex;
	flex-direction: column;
	position: relative;
	padding-left: 3.2rem;
	width: 100%;
	max-width: 26.7rem;
	row-gap: 1rem;
	font-size: 1.6rem;
	line-height: 2rem;
	color: green;

	.list__itm {
		position: relative;

		&::before {
			position: absolute;
			content: '';
			top: 0.4rem;
			left: -2rem;
			height: 1rem;
			width: 1rem;
			background-color: green;
		}
	}

	&.list--pink {
		color: #bd6e89;

		.list__itm {
			&::before {
				background-color: #ff96b9;
			}
		}
	}
	&.list--beige {
		color: #a58639;

		.list__itm {
			&::before {
				background-color: #d8af4a;
			}
		}
	}
	&.list--blue {
		color: #28529fe5;

		.list__itm {
			&::before {
				background-color: #789bdc;
			}
		}
	}
}

.btn__slider--prev,
.btn__slider--next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 3.53rem;
	height: 2rem;
	background-color: $color_brown;
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
	mask-image: url(../imgs/icons/slider-arrow.svg);
	cursor: pointer;

	&:hover {
		background-color: $color_lime;
	}

	@include bp($point4) {
		display: none;
	}
}

.btn__slider--prev {
	left: -1rem;
}

.btn__slider--next {
	rotate: 180deg;
	transform-origin: top;
	right: -1rem;
}

.slider__pag {
	display: flex;
	justify-content: space-between;
	height: 2rem;
	margin: 3.8rem auto 0;

	@include bp($point1, min) {
		max-width: 11rem;
	}
	@media (min-width: $point3) and (max-width: $point2) {
		max-width: 17rem;
	}
	@include bp($point4) {
		overflow-x: hidden;
	}
}

.slider__bullet {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background-color: transparent;
	border: 0.2rem solid $color_brown;
	cursor: pointer;

	@include bp($point4) {
		position: relative;
		min-width: 2rem;
		margin: 0 0.5rem;
		transition: all 0.3s;

		&:has(+ #{$active}),
		&#{$active} + & {
			transform: scale(0.66);
		}

		&:not(:has(+ #{$active}), #{$active}) {
			transform: scale(0.33);
		}
	}

	&#{$active} {
		background-color: $color_brown;
	}
}
