@use './helpers/abstracts' as *;

.media_block {
	position: relative;

	&::before {
		position: absolute;
		top: -19rem;
		right: -9rem;
		border: 3rem solid #e6e5fa;
		border-radius: 50%;
		width: 18rem;
		height: 18rem;
		content: '';

		@include bp($point2) {
			display: none;
		}
	}
}

.media {
	z-index: 2;
	cursor: pointer;
	border: 0.1rem solid #0000001a;
	border-bottom: 0.8rem solid #0000001a;
	border-radius: 2.5rem;
	background: linear-gradient(60deg, #feeadd, #fff3dccc, #ffbfbf 85%);
	max-width: 84.3rem;

	@include bp($point1, min) {
		position: absolute;
		top: 1.8rem;
		right: 30.1rem;
		width: 100%;
		height: 57.6rem;
	}
	@include bp($point2) {
		position: relative;
		margin: 0 auto;
		width: 90%;
	}
	@media (min-width: $point3) and (max-width: $point2) {
		height: 45rem;
	}
	@media (min-width: $point5) and (max-width: $point4) {
		height: 35rem;
	}
	@include bp($point6) {
		height: 25rem;
	}

	&::before {
		position: absolute;
		background-image: url(../imgs/media-plane.svg);
		background-position: right;
		background-size: cover;
		background-repeat: no-repeat;
		content: '';

		@include bp($point1, min) {
			right: -16.45rem;
			bottom: 4.4rem;
			width: 15.3rem;
			height: 12.2rem;
		}
		@include bp($point2) {
			display: none;
		}
	}

	&:after {
		position: absolute;
		bottom: -17.7rem;
		left: -0.8rem;
		background-image: url(../imgs/dots.svg);
		background-position: top;
		background-size: contain;
		background-repeat: no-repeat;
		width: 22.7rem;
		height: 12.2rem;
		content: '';
	}

	.video,
	.yt-video {
		border-radius: inherit;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.media__play__button {
		position: absolute;
		top: 0;
		left: 0;
		transition: background-size 0.2s;
		cursor: pointer;
		background-image: url(../imgs/icons/play.svg);
		background-position: center;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;

		@include bp($point1, min) {
			background-size: 16.5rem 16.5rem;

			&:active {
				background-size: 12rem 12rem;
			}
		}
		@include bp($point2) {
			background-size: auto 35%;

			&:active {
				background-size: auto 20%;
			}
		}
	}
}

.media__image {
	position: relative;
	bottom: -10.3rem;
	margin-left: 7.6rem;
	width: 100%;
	max-width: 66.5rem;
	height: 66.5rem;

	@include bp($point2) {
		display: none;
	}

	&::before {
		position: absolute;
		top: -32.5rem;
		left: -15rem;
		background-image: url(../imgs/bg-1.svg);
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		width: 60rem;
		height: 98.5rem;
		content: '';
	}

	&::after {
		position: absolute;
		top: -31rem;
		left: -10rem;
		background-image: url(../imgs/bg-2.svg);
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		width: 59rem;
		height: 98.5rem;
		content: '';
	}

	.media_pic {
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
	}
}
