@use './helpers/abstracts' as *;

.tabs_ages {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	font-weight: 600;
}

.sups_w {
	padding-bottom: 2.5rem;
	width: 100%;
	max-width: 57.2rem;
}

.ages__sups {
	display: flex;
	width: 100%;
	color: $color_orange;
	user-select: none;

	@include bp($point3, min) {
		height: 7.6rem;
	}
	@include bp($point4) {
		height: 5rem;
	}
}

.tab__sup {
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
	border: 0.2rem solid $color_orange;
	width: 100%;
	height: 100%;
	text-align: center;

	&:first-child {
		border-right: initial;

		@include bp($point3, min) {
			border-radius: 2.55rem 0 0 2.55rem;
		}
		@include bp($point4) {
			border-radius: 2rem 0 0 2rem;
		}
	}

	&:last-child {
		border-left: initial;

		@include bp($point3, min) {
			border-radius: 0 2.55rem 2.55rem 0;
		}
		@include bp($point4) {
			border-radius: 0 2rem 2rem 0;
		}
	}

	&::after {
		position: absolute;
		left: 25%;
		transform: scale(1, 1.4) translateX(-50%) translateY(100%) rotateZ(45deg);
		z-index: -1;
		transition: left 0.5s;
		background-color: inherit;
		content: '';

		@include bp($point3, min) {
			top: 3.2rem;
			width: 2rem;
			height: 2rem;
		}
		@include bp($point4) {
			top: 1.9rem;
			width: 1.5rem;
			height: 1.5rem;
		}
	}

	&#{$active} {
		position: relative;
		background-color: $color_orange;
		color: white;

		&::after {
			left: 50%;
		}
	}
}

.title__s-num {
	font-weight: 700;
	text-transform: uppercase;

	@include bp($point3, min) {
		font-size: 1.7rem;
	}
	@include bp($point4) {
		font-size: 1.4rem;
	}
}

.descr__age {
	text-transform: capitalize;

	@include bp($point3, min) {
		font-size: 1.2rem;
	}
	@include bp($point4) {
		font-size: 1rem;
	}
}

.tab__elems {
	position: relative;
	border-radius: 17.6rem 2.64rem 2.64rem;
	width: inherit;
	overflow: hidden;

	@include bp($point1, min) {
		min-height: 68.3rem;
	}
	@media (min-width: $point3) and (max-width: $point2) {
		min-height: 96rem;
	}
	@include bp($point2) {
		border-top-left-radius: 2.64rem;
	}
	@media (min-width: $point5) and (max-width: $point4) {
		min-height: 86rem;
	}
	@include bp($point6) {
		min-height: 76rem;
	}
}

.tab {
	display: flex;
	position: absolute;
	justify-content: space-evenly;
	align-items: center;
	transition: all 1s;
	border-radius: inherit;
	background: linear-gradient(-45deg, #ffdfdf, #fef5db);
	padding: 0 1.5rem;
	width: inherit;
	height: 0;
	min-height: 0;
	overflow: hidden;

	@include bp($point2) {
		flex-direction: column;
		border-top-left-radius: inherit;
	}

	&#{$active} {
		z-index: 1;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		min-height: inherit;
	}
}

.tab__content {
	display: inherit;
	align-items: inherit;

	@media (min-width: $point3) and (max-width: $point2) {
		min-height: 93rem;
	}
	@media (min-width: $point5) and (max-width: $point4) {
		min-height: 83rem;
	}
	@include bp($point6) {
		min-height: 73rem;
	}

	.tab:nth-child(2) & {
		gap: 2rem;

		@include bp($point1, min) {
			justify-content: space-between;
			width: 85%;
		}
		@include bp($point2) {
			flex-direction: column;
			justify-content: space-evenly;
		}
	}
}

.tab__image {
	max-width: 50.5rem;
	overflow: hidden;

	@include bp($point1, min) {
		width: 100%;
	}
	@include bp($point2) {
		width: 75%;
	}

	.tab__pic {
		@extend %contain_img;
	}
}

.tab__list {
	display: flex;
	row-gap: 4.4rem;
	flex-direction: column;
}

.tab__item {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 48.5rem;
}

.item__img {
	margin-right: 3rem;
	width: 100%;

	@include bp($point1, min) {
		max-width: 11.6rem;
	}
	@include bp($point2) {
		max-width: 5rem;
	}

	.item__pic {
		@extend %contain_img;
	}
}

.item__info {
	width: 100%;

	&.item__info--v2 {
		width: 100%;
		max-width: 90rem;
		text-align: justify;

		.item__text {
			line-height: 2;
		}
	}
}

.item__title {
	margin-bottom: 0.85rem;
	font-weight: 700;

	@include bp($point3, min) {
		font-size: 2rem;
	}
	@include bp($point4) {
		font-size: 1.4rem;
	}
}

.item__text {
	color: #252525b2;
	line-height: 1.3;

	@include bp($point3, min) {
		font-size: 1.4rem;
	}
	@include bp($point4) {
		font-size: 1.2rem;
	}
}
