@use './helpers/abstracts' as *;

.tabs_ages {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	font-weight: 600;
}

.sups_w {
	width: 100%;
	max-width: 57.2rem;
	padding-bottom: 2.5rem;
}

.ages_sups {
	display: flex;
	width: 100%;
	color: $color_orange;
	user-select: none;

	@include bp($point3, min) {
		height: 7.6rem;
	}
	@include bp($point4) {
		height: 5rem;
	}
}

.tab__sup {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	text-align: center;
	border: 0.2rem solid $color_orange;
	cursor: pointer;

	&:first-child {
		border-right: initial;

		@include bp($point3, min) {
			border-radius: 2.55rem 0 0 2.55rem;
		}
		@include bp($point4) {
			border-radius: 2rem 0 0 2rem;
		}
	}

	&:last-child {
		border-left: initial;

		@include bp($point3, min) {
			border-radius: 0 2.55rem 2.55rem 0;
		}
		@include bp($point4) {
			border-radius: 0 2rem 2rem 0;
		}
	}

	&::after {
		position: absolute;
		z-index: -1;
		transform: scale(1, 1.4) translateX(-50%) translateY(100%) rotateZ(45deg);
		content: '';
		background-color: inherit;
		left: 25%;
		transition: left 0.5s;

		@include bp($point3, min) {
			top: 3.2rem;
			width: 2rem;
			height: 2rem;
		}
		@include bp($point4) {
			top: 1.9rem;
			width: 1.5rem;
			height: 1.5rem;
		}
	}

	&#{$active} {
		position: relative;
		color: white;
		background-color: $color_orange;

		&::after {
			left: 50%;
		}
	}
}

.title__s-num {
	font-weight: 700;
	text-transform: uppercase;

	@include bp($point3, min) {
		font-size: 1.7rem;
	}
	@include bp($point4) {
		font-size: 1.4rem;
	}
}

.descr__age {
	text-transform: capitalize;

	@include bp($point3, min) {
		font-size: 1.2rem;
	}
	@include bp($point4) {
		font-size: 1rem;
	}
}

.tab_contents {
	position: relative;
	width: inherit;
	overflow: hidden;

	@include bp($point1, min) {
		min-height: 68.3rem;
	}
	@media (min-width: $point5) and (max-width: $point2) {
		min-height: 96rem;
	}
	@include bp($point6) {
		min-height: 76rem;
	}
}

.tab {
	position: absolute;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	overflow: hidden;
	width: inherit;
	height: 0;
	min-height: 0;
	padding: 0;
	border-radius: 17.6rem 2.64rem 2.64rem;
	background: linear-gradient(-45deg, #ffdfdf, #fef5db);
	transition: all 1s;

	&#{$active} {
		opacity: 1;
		min-height: inherit;
		padding: 1.5rem;
	}

	@include bp($point2) {
		border-top-left-radius: 2.64rem;
		flex-direction: column;
	}
}

.tab__image {
	overflow: hidden;
	height: auto;
	max-width: 50.5rem;

	@include bp($point1, min) {
		width: 100%;
	}
	@include bp($point2) {
		width: 75%;
	}

	.tab__pic {
		@extend %contain_img;
	}
}

.tab__list {
	display: flex;
	flex-direction: column;
	row-gap: 4.4rem;
}

.tab__item {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 48.5rem;
}

.item__img {
	width: 100%;
	height: auto;
	margin-right: 3rem;

	@include bp($point1, min) {
		max-width: 11.6rem;
	}
	@include bp($point2) {
		max-width: 5rem;
	}

	.item__pic {
		@extend %contain_img;
	}
}

.item__info {
	width: 100%;

	&.item__info--v2 {
		width: 100%;
		max-width: 90rem;
		text-align: justify;

		.item__text {
			line-height: 2;
		}
	}
}

.item__title {
	margin-bottom: 0.85rem;
	font-weight: 700;

	@include bp($point3, min) {
		font-size: 2rem;
	}
	@include bp($point4) {
		font-size: 1.4rem;
	}
}

.item__text {
	line-height: 1.3;
	color: #252525b2;

	@include bp($point3, min) {
		font-size: 1.4rem;
	}
	@include bp($point4) {
		font-size: 1.2rem;
	}
}
