<a
    class="{% if className %}{{ className }} {% endif %}booking-link"
    href="#trial-class"
    aria-labelledby="booking"
>
    <span class="booking-link__text" id="booking">Book a <span>free</span> Trial</span>
</a>
