<div class="syllabus syllabus_s_3">
    <div class="syllabus__image-wrapper">
        <img
            loading="lazy"
            class="syllabus__image"
            src="media/images/super-kid2.png"
            alt=""
        >
    </div>
    <ul class="syllabus__list">
        <li class="syllabus__list-item">
            <div class="syllabus__icon-wrapper">
                <img
                    loading="lazy"
                    class="syllabus__icon"
                    src="media/images/number.png"
                    alt="Number"
                >
            </div>
            <div class="syllabus__info">
                <h3 class="syllabus__title">
                    Number Sense<br>
                    and Operations
                </h3>
                <ul class="syllabus__skill-list">
                    <li class="syllabus__skill-list-item">
                        Fluently compose and decompose<br>
                        numbers within 10
                    </li>
                    <li class="syllabus__skill-list-item">Understand addition and subtraction within 10</li>
                </ul>
            </div>
        </li>
        <li class="syllabus__list-item">
            <div class="syllabus__icon-wrapper">
                <img
                    loading="lazy"
                    class="syllabus__icon"
                    src="media/images/geometry.png"
                    alt="Geometry"
                >
            </div>
            <div class="syllabus__info">
                <h3 class="syllabus__title">Geometry</h3>
                <ul class="syllabus__skill-list">
                    <li class="syllabus__skill-list-item">Recognize 2D and 3D shapes</li>
                    <li class="syllabus__skill-list-item">
                        Identify defining attributes of shapes (edges, vertices, cross sections, nets, etc.)
                    </li>
                </ul>
            </div>
        </li>
        <li class="syllabus__list-item">
            <div class="syllabus__icon-wrapper">
                <img
                    loading="lazy"
                    class="syllabus__icon"
                    src="media/images/sudoku.png"
                    alt="Sudoku"
                >
            </div>
            <div class="syllabus__info">
                <h3 class="syllabus__title">Logic and Patterns</h3>
                <ul class="syllabus__skill-list">
                    <li class="syllabus__skill-list-item">
                        Use analogical reasoning to solve Sudoku puzzles and understand the concept of cycles
                    </li>
                </ul>
            </div>
        </li>
        <li class="syllabus__list-item">
            <div class="syllabus__icon-wrapper">
                <img
                    loading="lazy"
                    class="syllabus__icon"
                    src="media/images/tangram.png"
                    alt="Tangram"
                >
            </div>
            <div class="syllabus__info">
                <h3 class="syllabus__title">Problem Solving</h3>
                <ul class="syllabus__skill-list">
                    <li class="syllabus__skill-list-item">
                        Learn tangram puzzles and practice creating shapes using tangram pieces
                    </li>
                    <li class="syllabus__skill-list-item">Measure by iterating length units</li>
                </ul>
            </div>
        </li>
    </ul>
</div>
