<div class="syllabus syllabus_s_2">
    <div class="syllabus__inner">
        <h3 class="syllabus__title">Lorem S2</h3>
        <p class="syllabus__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio eveniet harum consequuntur incidunt rem
            commodi nostrum porro dignissimos laborum atque corporis aliquid quam, possimus velit et iure pariatur
            praesentium quis. Nisi perferendis qui cumque velit officia temporibus. Quos facere nam ut provident libero
            enim earum quod, mollitia quaerat, maiores alias odit eos reprehenderit consequuntur nesciunt laborum
            voluptatum aliquid amet perferendis. Voluptatum quo nesciunt nihil atque. Quis omnis culpa nesciunt animi
            repudiandae, quia harum eveniet, ipsum qui distinctio voluptatum beatae itaque iure fuga in, odit eligendi
            voluptas dicta reiciendis impedit. Porro. Tenetur sed architecto vitae cupiditate molestiae corrupti
            explicabo distinctio quidem. Expedita officiis, saepe ipsum quia recusandae, velit repellat aperiam
            reiciendis nihil mollitia, tempora aliquid voluptate? Dolore aperiam explicabo ducimus natus!
        </p>
    </div>
</div>
