<section class="faq section" id="about">
    <div class="container">
        {% render 'templates/base-header',
            title: 'FAQs',
            text: 'Our expert
        advisors can help you find the right workplace solution for you and your
        team'
        %}
        {%- render 'templates/accordion', props: props -%}
    </div>
</section>
