<section class="skills section">
    <div class="container">
        {% render 'templates/base-header',
            title: 'Cultivate thinking skills from all aspects',
            titleClass: 'skills__title',
            text: 'Our expert advisors can help you find the right workplace solution for you and your team'
        %}
        {%- render 'templates/tabbed-ui', props: props -%}
    </div>
</section>
