<header class="header">
    <div class="header__container container">
        {% render 'components/creta-link' -%}
        <nav class="header__nav">
            <div class="header__link-group">
                <a class="header__nav-link" href="#about">About</a>
                <a class="header__nav-link" href="#where">Where</a>
            </div>
            {% render 'components/booking-link' -%}
        </nav>
    </div>
</header>
