@use './helpers/abstracts' as *;

html {
	@include bp(1920px, min) {
		font-size: 10px;
	}
	@media (min-width: $point1) and (max-width: 1919px) {
		font-size: calc(100vw / 1920 * 10);
	}
	@include bp($point2) {
		font-size: 10px;
	}
}

html,
body {
	height: 100%;
	scroll-behavior: smooth;
	font-weight: 400;
	font-family: $font_inter;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;

	@include bp($point3, min) {
		padding-top: 12rem;
	}
	@include bp($point4) {
		padding-top: 8rem;
	}
}

main {
	flex-grow: 1;
}

section {
	overflow: hidden;

	@include bp($point1, min) {
		padding: 8rem 0;
	}
	@include bp($point2) {
		padding: 4rem 0;
	}
}

.container {
	margin: 0 auto;
	padding: 0 2rem;
	width: 100%;
	max-width: 156rem;

	&.container--v2 {
		max-width: 135rem;
	}

	&.container--v3 {
		background-color: #f6f6f6;
		padding: 11rem 0 10rem;
		max-width: 192rem;
		overflow: hidden;

		@include bp($point2) {
			padding-top: 4rem;
		}
	}
}

.sctn_head {
	margin-bottom: 4rem;
}

.sctn__title {
	margin-bottom: 12px;
	font-weight: 800;
	font-family: $font_manrope;
	text-align: center;

	@include bp($point3, min) {
		font-size: 4.8rem;
	}
	@include bp($point4) {
		font-size: 3rem;
	}

	&.title--cap {
		text-transform: capitalize;
	}

	&.title--v2 {
		font-weight: 700;
	}
}

.sctn__descr {
	color: #7b7b7b;
	font-weight: 500;
	font-size: 1.6rem;
	font-family: $font_manrope;
	text-align: center;

	@include bp($point3, min) {
		line-height: 4rem;
	}
	@include bp($point4) {
		line-height: 1.5;
	}

	&.descr--v2 {
		color: currentColor;
		font-weight: 400;
		line-height: normal;
		font-family: $font_inter;

		@include bp($point3, min) {
			font-size: 2rem;
		}
		@include bp($point4) {
			font-size: 1.6rem;
		}
	}
}
