@font-face {
	font-family: 'Nunito';
	font-weight: 900;
	src: url(../fonts/Nunito-Black.woff2);
}

@font-face {
	font-family: 'Inter';
	font-weight: 400;
	src: url(../fonts/Inter-Regular.woff2);
}

@font-face {
	font-family: 'Inter';
	font-weight: 500;
	src: url(../fonts/Inter-Medium.woff2);
}

@font-face {
	font-family: 'Inter';
	font-weight: 600;
	src: url(../fonts/Inter-SemiBold.woff2);
}

@font-face {
	font-family: 'Inter';
	font-weight: 700;
	src: url(../fonts/Inter-Bold.woff2);
}

@font-face {
	font-family: 'Manrope';
	font-weight: 500;
	src: url(../fonts/Manrope-Medium.woff2);
}

@font-face {
	font-family: 'Manrope';
	font-weight: 700;
	src: url(../fonts/Manrope-Bold.woff2);
}

@font-face {
	font-family: 'Manrope';
	font-weight: 800;
	src: url(../fonts/Manrope-ExtraBold.woff2);
}

@font-face {
	font-family: 'Mukta';
	font-weight: 700;
	src: url(../fonts/Mukta-Bold.woff2);
}
