@use './helpers/abstracts' as *;

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 17.4rem;
	background-color: $color_beige;
	padding: 4.5rem 2rem 5.2rem;
	font-family: $font_inter;
}

.footer_block {
	display: flex;
	justify-content: space-between;
	column-gap: 2rem;
	width: 100%;
	max-width: 151.6rem;

	@include bp($point3, min) {
		align-items: center;
	}
	@include bp($point4) {
		flex-direction: column;
		row-gap: 3rem;
	}
}

.footer_part {
	width: 32.8rem;

	.creta__img {
		display: block;
		margin-bottom: 2.35rem;
	}
}

.footer__btn {
	margin-bottom: initial;
	text-decoration: none;

	@media (min-width: $point3) and (max-width: $point2) {
		width: 80%;
		height: 5rem;
		font-size: 1.3rem;
	}
}

.footer_navs {
	max-width: 58rem;
	font-weight: 400;

	.nav__email,
	.nav__phone {
		width: 100%;
		margin-bottom: 1.23rem;
		line-height: 1.3;

		a {
			text-decoration: none;
			color: currentColor;

			&:hover {
				color: $color_orange;
			}
		}
	}

	.nav__location {
		display: flex;
		align-items: center;
		line-height: 1.7;
	}

	@include bp($point3, min) {
		font-size: 2.2rem;
	}
	@include bp($point4) {
		font-size: 1.5rem;
	}
}
