@use './helpers/abstracts' as *;

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $color_beige;
	padding: 4.5rem 2rem 5.2rem;
	min-height: 17.4rem;
}

.footer_block {
	display: flex;
	column-gap: 2rem;
	justify-content: space-between;
	width: 100%;
	max-width: 151.6rem;

	@include bp($point3, min) {
		align-items: center;
	}
	@include bp($point4) {
		row-gap: 3rem;
		flex-direction: column;
	}
}

.footer__links {
	width: 100%;
	max-width: 32.8rem;

	.creta__img {
		display: block;
		margin-bottom: 2.35rem;
	}
}

.footer__btn {
	display: block;
	margin-bottom: initial;
	text-decoration: none;

	@media (min-width: $point3) and (max-width: $point2) {
		width: 80%;
		height: 5rem;
		font-size: 1.3rem;
	}
}

.footer__contacts {
	max-width: 58rem;

	@include bp($point3, min) {
		font-size: 2.2rem;
	}
	@include bp($point4) {
		font-size: 1.5rem;
	}
}

.footer__email,
.footer__phone {
	margin-bottom: 1.23rem;
	width: 100%;
	line-height: 1.3;
}

.footer__location {
	line-height: 1.7;
}

.footer__email,
.footer__phone,
.footer__location {
	a {
		color: currentColor;
		text-decoration: none;

		&:hover {
			color: $color_orange;
		}
	}
}
