@use './helpers/abstracts' as *;

header {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	transition: height 0.3s;
	box-shadow: 0 1rem 5rem 0 #0000000d;
	background-color: white;
	padding: 0 2rem;
	width: 100%;

	@include bp($point3, min) {
		height: 12rem;
	}
	@include bp($point4) {
		height: 8rem;
	}

	&.size--on-scroll {
		@include bp($point3, min) {
			height: 8rem;
		}
		@include bp($point4) {
			height: 6rem;
		}
	}
}

.header_block {
	display: flex;
	column-gap: 1.5rem;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 151.6rem;
}

.header__elems {
	display: flex;
	column-gap: 1.5rem;
	justify-content: space-between;
	width: 100%;
	max-width: 65.2rem;
}

.creta__img {
	width: 100%;
	max-width: 25.6rem;
	height: 5.2rem;

	.creta__logo {
		@extend %contain_img;
	}
}

.cookie__btns {
	display: flex;
	column-gap: 1.5rem;
	align-items: center;
	max-width: 35rem;
	height: auto;

	@include bp($point3, min) {
		justify-content: space-between;
		width: 100%;
	}
	@include bp($point4) {
		justify-content: flex-end;
		width: 60%;
	}
}

.cookie__button {
	@extend %btn_cookie;

	.cookie__pic {
		display: block;
		mask-image: url(../imgs/icons/cookie.svg);
		mask-position: center;
		mask-size: contain;
		mask-repeat: no-repeat;
		background-color: currentColor;
		width: 1.8rem;
		height: 1.8rem;

		@include bp($point4) {
			display: none;
		}
	}
}

.header__button {
	@extend %btn_green;

	.btn__star {
		display: block;
		mask-image: url(../imgs/icons/star.svg);
		mask-position: center;
		mask-size: contain;
		mask-repeat: no-repeat;
		background-color: currentColor;
		width: 1.8rem;
		height: 1.8rem;
	}

	.btn__text {
		@include bp($point4) {
			display: none;
		}

		.upper {
			text-transform: uppercase;
		}
	}
}
